/* tables */
table.tablesorter {
    background-color: #fff;
    /*margin: 10px 0pt 15px;*/
    font-weight: normal;
    font: 12px/18px;
    width: 100%;
    text-align: left;
}

    table.tablesorter thead tr th {
        background-color: #99bfe6;
        /*border: 1px solid #FFF;*/
        font-size: 8pt;
        padding: 4px;
        /*background-image: url(bg.gif);
        background-repeat: no-repeat;
        background-position: center right;
        padding: 4px 18px 4px 4px;*/
    }

    table.tablesorter tfoot tr th {
        background-color: white;
        font-size: 8pt;
        padding: 4px;
    }

    table.tablesorter thead tr th {
        background-image: url(bg.gif);
        background-repeat: no-repeat;
        background-position: center right;
        cursor: pointer;
    }

    table.tablesorter thead .sorter-false {
        /*background-image: url(bg.gif);*/
        background-repeat: no-repeat;
        background-position: center right;
        cursor: pointer;
    }

    table.tablesorter tbody td {
        color: #3D3D3D;
        padding: 4px;
        /*background-color: #ebf2fa;*/
        vertical-align: top;
    }
    /*table.tablesorter tbody tr.odd td {
	background-color:#fff;
}*/
    table.tablesorter tbody tr:nth-child(odd) {
        background-color: #fff;
    }

    table.tablesorter tbody tr:nth-child(even) {
        background-color: #fff;
    }

    table.tablesorter thead tr .headerSortUp {
        background-image: url(asc.gif);
    }

    table.tablesorter thead tr .headerSortDown {
        background-image: url(desc.gif);
    }

    table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
        background-color: #8dbdd8;
    }

    table.tablesorter thead .tablesorter-headerAsc {
        /* image */
        background-image: url(asc.gif);
    }

    table.tablesorter thead .tablesorter-headerDesc {
        /* image */
        background-image: url(desc.gif);
    }
